<h1><%= project.titles[0].main %></h1>
<h2><%= project.titles[0].sub %></h2>
<h4><%= project.creator %></h4>
</div>
</div>
<section class="container">
  <h1>section</h1>
  <a class="btn btn-default" href="/projects/<%= project._id %>/edit" role="button">Edit</a>
  <form action="/projects/<%= project._id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button type="submit" class="btn btn-danger">Delete</button>
  </form>
</section>
